langgraph==0.3.34
langgraph-sdk==0.1.74
langgraph-cli[inmem]==0.1.89
python-dotenv
langchain-core==0.3.86
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-ollama
langchain-community
langchain-mcp-adapters
opencv-python-headless
typing-extensions
